{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Cadastro de Produto</h1>
            <hr>

            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Enviar</button>
                {% endbuttons %}
            </form>
            <hr>
            <a class="btn btn-info" href="{% url 'products:list' %}"
               role="button"><i class="fa fa-arrow-left"></i> Voltar
            </a>
        </div>
    </div>

{% endblock content %}