{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2><i class="fa fa-list"></i> Relação dos Produtos</h2>
            <hr>
            {% bootstrap_messages %}
        </div>
        <div class="col-md-4">
            <a class="btn btn-success" href="{% url 'products:create' %}" role="button">
                <i class="fa fa-plus"></i> Novo Produto</a>
        </div>
        <div class="col-md-4 offset-4">
            {% include 'includes/form_search.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <br>
            {% if search_terms %}
                {% with total=total_itens %}
                    <h5 class="text-success">RESULTADO DA PESQUISA: {{ total }} registro{{ total|pluralize }} com o
                        termo pesquisado:
                        <strong>{{ search_terms }}</strong>
                    </h5>
                {% endwith %}

            {% endif %}
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'products:detail' pk=obj.pk %}">{{ obj.name }}</a></td>
                        <td>R$ {{ obj.price }}</td>
                        <td>{{ obj.description|truncatechars:30 }}</td>
                        <td>
                            <a class="btn btn-outline-primary" href="{% url 'products:detail' obj.pk %}"
                               role="button"><i class="fa fa-info-circle"></i>
                            </a>
                            <a class="btn btn-outline-warning" href="{% url 'products:update' obj.pk %}"
                               role="button"><i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-outline-danger" href="{% url 'products:delete' obj.pk %}"
                               role="button"><i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'pagination.html' %}
        </div>
    </div>

{% endblock content %}

{% block extras_js %}
    <script type="text/javascript">
        $(".alert").fadeTo(2000, 500).slideUp(500, function () {
            $(".alert").slideUp(500);
        });
    </script>
{% endblock %}